# Data Acquisition Phase

### 1.	Extract all tweets about any selected hot topic from tweeter and save it in a csv file. The tweet must contain the following information (tweet id, tweet time, tweet author, tweet text).

In [3]:
import pandas as pd
df=pd.read_csv('data/covid19.csv')
df.head()

,Unnamed: 0,Tweet Id,Text,Name,Screen Name,UTC,Created At,Favorites,Retweets,Language,Client,Tweet Type,Media Type,Media URLs,URLs,Hashtags,Mentions
0,0,1266611922150895616,RT @ugc_india : #UGC requests HEIs &amp; State...,RBVRR Women's College,Rbvrrwc,2020-05-30T06:06:29.000Z,Sat May 30 06:06:29 +0000 2020,0,0,en,"<a href=""https://mobile.twitter.com"" rel=""nofo...",Retweet,Photo,https://pbs.twimg.com/media/EZHO8YnVAAIWxPC.jp...,0,3,6
1,1,1266611904107040770,RT @sofyvaldivia : Ⓜ️Vecinos del Gimnasio Muni...,Frankk_35,construred_oax,2020-05-30T06:06:25.000Z,Sat May 30 06:06:25 +0000 2020,0,0,es,"<a href=""http://twitter.com/download/iphone"" r...",Retweet,Video,https://video.twimg.com/ext_tw_video/126659117...,0,1,2
2,2,1266611713388040197,RT @Pinchez81533825 : @GhettoRadio895 @DjDaboT...,Dj Double Trouble,DjDaboTrabo,2020-05-30T06:05:39.000Z,Sat May 30 06:05:39 +0000 2020,0,0,en,"<a href=""http://twitter.com/download/android"" ...",Retweet,NaN,NaN,0,1,3
3,3,1266611711055933440,RT @unwomenasia : “Promoting gender equality i...,Marsella Lee,sellalalee,2020-05-30T06:05:39.000Z,Sat May 30 06:05:39 +0000 2020,0,0,en,"<a href=""http://twitter.com/download/android"" ...",Retweet,NaN,NaN,1,2,1
4,4,1266611707650224128,RT @philmoi : Mon ami Pharmacien confirme le R...,micmousse,micmousse18,2020-05-30T06:05:38.000Z,Sat May 30 06:05:38 +0000 2020,0,0,fr,"<a href=""https://mobile.twitter.com"" rel=""nofo...",Retweet,NaN,NaN,1,2,1

2.	Extract all tweets about Jimma University from tweeter and save it in a csv file. The tweet must contain the following information (tweet id, tweet time, tweet author, tweet text).

### 3.	Extract all posts about any selected hot topic from Facebook and save it in a csv file. The post must contain the following information (post id, author, text, number of likes).

In [10]:
fb_post_df=pd.read_csv('data/facebook_post.csv')
print(fb_post_df.head())
print(len(fb_post_df))
fb_post_df.shape

   Unnamed: 0                                                url text  \
0           0  /story.php?story_fbid=2946046748766270&id=1000...   []
1           1  /story.php?story_fbid=2943539265683685&id=1000...   []
2           2  /photo.php?fbid=2923349841035961&id=1000008292...   []
3           3  /photo.php?fbid=2923344097703202&id=1000008292...   []
4           4  /story.php?story_fbid=2923180484386230&id=1000...   []

                                           media_url comments likes
0  /Yohannescoop?fref=nf&refid=52&_ft_=mf_story_k...       []    []
1                                                NaN       []    []
2                                                NaN       []    []
3                                                NaN       []    []
4  /Yohannescoop?fref=nf&refid=52&_ft_=mf_story_k...       []    []
200

(200, 6)

### 4.	Extract the first paragraph for 100 Wikipedia articles from Wikipedia and represent in a term by document matrix
    PIP install shorttext
    pip install wekipedia

# import shorttext
# import numpy as np
# import pandas as pd
# from stemming.porter import stem
 
# import re

# B.	Data Preparation Phase
### Use the AcadamicAchievement.csv file to answer the following questions

#### 1. From the Age attribute, compute the  
    a.	Mean 
    b.	Media 
    c.	Standard deviation 
    d.	Range

In [2]:
import pandas as pd
data=pd.read_csv('data/AcadamicAchievementPrediction.csv')
data.head()

  Name   Age     Sex  BirthYear Achivement
0   xx  34.0  Female     1984.0        Low
1   xy  20.0    Male     1998.0        Low
2   xz  39.0    Male     1979.0       High
3   xa  20.0  Female     1998.0        Low
4   xb  21.0    Male     1991.0        Low

In [16]:
data.describe()

              Age    BirthYear
count  155.000000   156.000000
mean    28.690323  1989.044872
std      9.794358    10.144977
min      0.000000  1954.000000
25%     20.000000  1979.000000
50%     25.000000  1991.000000
75%     39.000000  1998.000000
max     51.000000  2018.000000

In [21]:
print('Mean')
data['Age'].mean()

Mean

28.690322580645162

In [22]:
print('Midian')
data['Age'].median()

Midian

25.0

In [23]:
print('Standard Deviation')
data['Age'].std()

Standard Deviation

9.79435813077954

In [22]:
print('Age Range')
max_age=data['Age'].max()
data['Age'].replace(0,data['Age'].mean(),inplace=True)
min_age=data['Age'].min()
print('Range',min_age ,'-',max_age)

Age Range
Range 12.0 - 51.0

## 2.	Which one is the frequent name in the data

In [8]:
data['Name'].mode()

0    xb
1    xc
2    xy
dtype: object

xy is most frequent name